body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
*{
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}
.main-navigation {
  padding: 10px;
  width: 1160px;
  margin: 0 auto;
}
.site-navigation {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.site-navigation a {
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: white;
  padding: 10px 0;
}

.site-navigation a:hover {
  color: #e74c3c;
  border-bottom: 2px solid #e74c3c;
  transition: 0.2s
}

.site-navigation .logo {
  letter-spacing: 2px;
  color: white;
  font-size: 28px;
  padding: 0;
  margin-right: 155px;
}
.main {
  background: url(../img/promo.jpg) center no-repeat;
}
.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main-text .main-title {
  font-size: 70px;
  letter-spacing: 10px;
  font-weight: bold;
  color: white;
  margin-top: 0;
  text-transform: uppercase;
  text-shadow: 4px 4px 6px #000;
}

.section__title {
  margin: 0;
  text-align: center;
  font-size: 35px;
  padding: 80px;
  text-transform: uppercase;

}
.main-subtitle {
  font-size: 30px;
  font-weight: 400;
  color: #e9e9e9;
  text-shadow: 4px 4px 6px #000;
}

.about {
  background: url('../img/bg_2.jpg') no-repeat center;
  background-size: cover;
  padding-bottom: 80px;
}

.about__wrap {
  display: flex;
  justify-content: space-between;
}
.about__image img {
  border-radius: 20px;
}
.about__text {
  width: 830px;

  padding: 40px ;
  border: 2px solid red;
  border-radius: 15px;
}

.about__text p {
  font-size: 18px;
  letter-spacing: .4px;
  line-height: 1.4;
}

.summary {
  background:url('../img/bg_3.jpg') no-repeat center;
  background-size: cover;
  padding-bottom: 80px;
}
.summary__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.summary__item {
  list-style: none;
  width: 30%;
  background-color: rgba(222, 237, 252, 1);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  padding: 20px;
}
.section__title_white {
  color: #fff;
}
.summary__title {
  margin: 0;
  padding-top: 0;
  font-family: "Open Sans",sans-serif;
  font-weight: 700;
  height: 40px;
  background-color: #4eb1ba;
  color: #fff;
  line-height: 40px;
  padding-left: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 0 #2d939c;
}
.summary__subtitle {
  display: inline-block;
  line-height: 1.4;
  padding-top: 20px;
}
.summary__subtitle strong, i {
  display: inline-block;
  padding: 10px 0;
}

.summary__subtitle i:last-child {
  display: inline-block;
  padding-top: 20px;
}

.skills {
  background:url('../img/bg_2.jpg') no-repeat center;
  background-size: cover;
  padding-bottom: 80px;
}

.skills-list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-right: 20px;
  padding: 20px 40px 0 40px;
  margin-bottom: 20px;
}
.skills-list img {
  transition: filter 0.3s linear;
  filter: brightness(2) grayscale(1) opacity(0.3);
}
.skills-list img:hover {
  filter: none;
  cursor: pointer;
}
.skills-list p {
  font-weight: bolder;
}

.portfolio {
  background: url('../img/bg_3.jpg') no-repeat center;
  background-size: cover;
  padding-bottom: 80px;
}
.portfolio-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card {
  perspective: 1000px;
}
.card-item {
  background-color: #fff;
  width: 250px;
  height: 250px;
  transition: transform 0.2s;
}
.menu__top {
  background: rgba(0,0,0,0.8);
}

.contacts {
  background: url('../img/bg_2.jpg') no-repeat center;
  background-size: cover;
  padding-bottom: 80px;
}
.contacts-wrap {
  display: flex;
  justify-content: space-between;
}
.contacts h3 {
  width: 350px;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 25px;
}
.contacts a {
  width: 350px;
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 21px;
}
.contacts__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  order: 1;
  padding: 70px;
  line-height: 2.3rem;
  background: rgba(255,255,255,0.2);
  min-height: 416px;
  box-shadow: -5px 5px 7px rgba(0,0,0,0.2);
}
/* form */
.ui-form h3 {
  position: relative;
  z-index: 5;
  margin: 0 0 30px;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
}
.form-row {
  position: relative;
  margin-bottom: 20px;
  width: 350px;
}
.form-row input {
  display: block;
  width: 100%;
  padding: 0 10px;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  background: none;
  border-width: 0;
  border-bottom: 2px solid #e74c3c;
  transition: all 0.2s ease;
}
.form-row label {
  position: absolute;
  color: #e74c3c;;
  font-size: 20px;
  font-weight: 300;
  transform: translateY(-35px);
  transition: all 0.2s ease;
}
.form-row input:focus {
  outline: 0;
  border-color: #F77A52;
}
.form-row input:focus + label, 
.form-row input:valid + label {
  transform: translateY(-60px);
  margin-left: -14px;
  font-size: 14px;
  font-weight: 400;
  outline: 0;
  border-color: #F77A52;
  color: #F77A52;
}
.ui-form button {
  outline: none; /* Для синий ободки */
  background: transparent;
  width: 100%;
  padding: 0;
  line-height: 42px;
  border: 2px solid #e74c3c;
  font-size: 20px;
  cursor: pointer;
  color: #e74c3c;
}
.ui-form button:hover {
  background-color: #e74c3c;
  color: #fff;
  transition: 0.3s;
}
/* footer */
.footer {
  background: rgba(0,0,0,1);
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-media {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.social-media li {
  padding: 0;
  margin: 20px;
}
.social-media li:first-child {
  margin-left: 0;
}
.social-media a {
  text-align: center;
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 30px;
  background-color: #fff;
  border-radius: 50%;
}
.social-media li:first-child a {
  color: #4267b2;
}
.social-media li:nth-child(2) a {
  color: #4a76a8;
}
.social-media li:last-child a {
  color: #24292e;
}
.social-media a:hover {
  background-color: #e74c3c;
}
.social-media a:hover i {
  color: rgba(0,0,0,1);
}
.footer address {
  color: #fff;
  font-size: 20px;
}

